<div class='bg-white'>
    <div class='mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8'>
        <h2 class='sr-only'>Products</h2>

        <div class='grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8'>
            <a href='/cars/:id' class='group'>
                <img
                    src='https://www.dieseltuningparts.com/wp-content/uploads/2024/01/368222049_1314249009199653_2474012053629256880_n.jpg'
                    alt='BMW e91 330d tuned'
                    class='aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8'
                />
                <h3 class='mt-4 text-sm text-gray-700'>BMW e91 330d</h3>
                <p class='mt-1 text-lg font-medium text-gray-900'>X-Drive</p>
            </a>
            <a href='/cars/:id' class='group'>
                <img
                    src='https://womautomotive.co.uk/dealer/wp-content/uploads/2022/06/8-728x971.jpeg'
                    alt='Audi A5 3.0 TDI red'
                    class='aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8'
                />
                <h3 class='mt-4 text-sm text-gray-700'>Audi A5 3.0 TDI</h3>
                <p class='mt-1 text-lg font-medium text-gray-900'>Quatro</p>
            </a>
            <a href='/cars/:id' class='group'>
                <img
                    src='https://media.drive.com.au/obj/tx_q:50,rs:auto:1920:1080:1/caradvice/private/b6bfde1b112697063516df5751ca2d96'
                    alt='BMW X5 40d in black color driving'
                    class='aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8'
                />
                <h3 class='mt-4 text-sm text-gray-700'>BMW X5 40d</h3>
                <p class='mt-1 text-lg font-medium text-gray-900'>X-Drive</p>
            </a>
            <a href='/cars/:id' class='group'>
                <img
                    src='https://mobistatic4.focus.bg/mobile/photosorg/386/1/big//11737922609117386_g0.webp'
                    alt='Aplha Romeo 2.4 JTD tuned black stopped'
                    class='aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8'
                />
                <h3 class='mt-4 text-sm text-gray-700'>Aplha Romeo 2.4 JTD tuned</h3>
                <p class='mt-1 text-lg font-medium text-gray-900'>Q4</p>
            </a>

            <!-- More products... -->
        </div>
    </div>
</div>