@import "tailwindcss";

.errors {
    animation: remove 4s ease;
    display: block;
    opacity: 0;
}

@keyframes remove {
    0% {
        opacity: 1;
        display: block;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}